<div class="title-block-risk"><%= title %></div>
    <div class="risk-person-icon">
        <%- include('./person-icon',{width: 40, height: 50, className:'wow'}); %> 
    <div class="risk-person-value">Высокий</div>
</div>