<h1 mat-dialog-title>Правка компании</h1>

<div mat-dialog-content>

  <mat-form-field>
    <input matInput
           cdkFocusInitial
           placeholder="Название"
           [(ngModel)]="updatedCompany.name">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Код"
           [(ngModel)]="updatedCompany.code">
  </mat-form-field>

  <div *ngIf="errorMessage" class="error-container">
    <span>{{errorMessage}}</span>
  </div>

</div>

<div mat-dialog-actions>

  <button mat-button (click)="close()">Отмена</button>

  <button mat-button (click)="save()">Сохранить</button>

</div>
