<% let width = 36, height = 38; %>
<style>
    .risk-indicator { 
        position: absolute;
        top: -14px;
    }

    .risk-indicator-position--1 {
        left: 8px;
    }

    .risk-indicator-position--2 {
        left: 46px;
    }

    .risk-indicator-position--3 {
        left: 84px;
    }
</style>
<h1><%=resultRisk %></h1>
<div class="risk-indicator-container">
        <div id="risk-indicator" class="risk-indicator risk-indicator-position--1">
          <div class="risk-indicator-triangle"></div>
          <div class="risk-indicator-border"></div>
        </div>
        <div class="risk-person-icon">
            <% let maxPersonIcons = 12; %>
            <% for( i=0; i < maxPersonIcons; i++ ) {%>
            <% let className = 'risk-indicator-green'; %>
            <% if( i > 7 ) { className = 'risk-indicator-red'; } %>
            <% if( i < 8 && i > 3 ) { className = 'risk-indicator-yellow'; } %>
            <%- include('test-view-person-icon',{width: width, height: height, className:className}); %> 
            <% } %>
        </div>
      </div>
    </div>