<% let width = 36, height = 38; %>
<style>
    .risk-indicator { 
        position: absolute;
        top: -14px;
    }

    .risk-indicator-position--1 {
        left: 12px;
    }

    .risk-indicator-position--2 {
        left: 56px;
    }

    .risk-indicator-position--3 {
        left: 84px;
    }

     .risk-indicator-border {
        height: 43px;
        width: 5.5px;
        border-right: 1px dotted #004f9f;
  }

    .risk-indicator-container{ 
        position: relative;
        width: 100%;
    }
  
    .risk-indicator-triangle {  
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 6px 0 6px;
        border-color: #004f9f transparent transparent transparent;
    }
</style>
<div class="risk-indicator-container">
        <div id="risk-indicator" class="risk-indicator risk-indicator-position--1">
          <div class="risk-indicator-triangle"></div>
          <div class="risk-indicator-border"></div>
        </div>
        <div class="risk-person-icon">
            <% let maxPersonIcons = 12; %>
            <% for( i=0; i < maxPersonIcons; i++ ) {%>
            <% let className = 'risk-indicator-green'; %>
            <% if( i > 7 ) { className = 'risk-indicator-red'; } %>
            <% if( i < 8 && i > 3 ) { className = 'risk-indicator-yellow'; } %>
            <%- include('test-view-person-icon',{width: width, height: height, className:className}); %> 
            <% } %>
        </div>
      </div>
    </div>