<% let width = 36, height = 38; %>
<style>
    .risk-indicator { 
        position: absolute;
        top: -7px;
        height: 65px;
    }

    .risk-indicator-position--1 {
        left: 12px;
    }

    .risk-indicator-position--2 {
        left: 52px;
    }

    .risk-indicator-position--3 {
        left: 93px;
    }

    .risk-indicator-position--4 {
        left: 133px;
    }

    .risk-indicator-position--5 {
        left: 174px;
    }

    .risk-indicator-position--6 {
        left: 214px;
    }

    .risk-indicator-position--7 {
        left: 255px;
    }

    .risk-indicator-position--8 {
        left: 295px;
    }

    .risk-indicator-position--9 {
        left: 335px;
    }

    .risk-indicator-position--10 {
        left: 376px;
    }

    .risk-indicator-position--11 {
        left: 416px;
    }
    
    .risk-indicator-position--12 {
        left: 457px;
    }

    .risk-indicator-container{ 
        position: relative;
        width: 100%;
    }
  
    .risk-indicator-triangle {  
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 6px 0 6px;
        border-color: #004f9f transparent transparent transparent;
    }

    .risk-indicator-value {
        position: absolute;
        left: -11px;
        width: 100%;
        line-height:1;
        text-align: center;
        font-size: 10px;
        color: #004f9f;
    }

    .risk-indicator-value--low{
        left: -11px;
    }

    .risk-indicator-value--medium, .risk-indicator-value--high{
        left: -13px;
    }

</style>
    <div class="risk-indicator-container">
        <div class="risk-indicator risk-indicator-position--<%=resultRisk %>">
          <svg height="55" width="12"id="1978604e-cbbd-494b-a25a-ad19cf59cb4c" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.68 57.71">
                <polygon points="11.68 0 5.84 10.12 0 0 11.68 0" style="fill: #004f9f"/>
                <path d="M6.34,57.71h-1v-3h1Zm0-4h-1v-3h1Zm0-4h-1v-3h1Zm0-4h-1v-3h1Zm0-4h-1v-3h1Zm0-4h-1v-3h1Zm0-4h-1v-3h1Zm0-4h-1v-3h1Zm0-4h-1v-3h1Zm0-4h-1v-3h1Zm0-4h-1v-3h1Zm0-4h-1v-3h1Z" style="fill: #004f9f"/>
          </svg>
              <% if( resultRisk < 4 ) { %>
                <div class="risk-indicator-value risk-indicator-value--low">
                    Низкий
                </div>
              <% } %>
              <% if( resultRisk <= 8 && resultRisk > 3 ) { %>
                <div class="risk-indicator-value risk-indicator-value--medium">
                    Средний
                </div>
              <% } %>
              <% if( resultRisk > 8 ) { %>
                <div class="risk-indicator-value risk-indicator-value--high">   
                    Высокий
                </div>
              <% } %>
          </div>
    </div>
    <div class="risk-person-icon">
            <% let maxPersonIcons = 12; %>
            <% for( i=0; i < maxPersonIcons; i++ ) {%>
            <% let className = 'risk-indicator-green'; %>
            <% if( i > 7 ) { className = 'risk-indicator-red'; } %>
            <% if( i < 8 && i > 3 ) { className = 'risk-indicator-yellow'; } %>
            <%- include('test-view-person-icon',{width: width, height: height, className:className}); %> 
            <% } %>
    </div>