<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Result</title>
  <!--<link href="/views/test-view.css" rel="stylesheet" type="text/css">-->
  <style>
    .container-report {
      padding: 30px;
    }

    .container-report .section1 .risk-indicator-red {
      height: 30px;
      width: 500px;
      background: #ff0000;
      border: 1px solid #4d4d4d;
    }

    .container-report .section1 .risk-indicator-yellow {
      height: 30px;
      width: 500px;
      background: #ffff00;
      border: 1px solid #4d4d4d;
    }

    .container-report .section1 .risk-indicator-green {
      height: 30px;
      width: 500px;
      background: #00ff00;
      border: 1px solid #4d4d4d;
    }

    .container-report .section1 .title-block-risk {
      margin-top: 20px;
    }

    .container-report .section2 {
      padding-top: 50px;
    }

    .container-report .section2 .title-table {
      margin-bottom: 10px;
    }

    .container-report .section2 table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    .container-report .section2 table .blue-style {
      background: #00b0f0;
    }

    .container-report .section2 table td,th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px !important;
    }

    .container-report .section3 .paragraph {
      padding-top: 10px;
    }

    .container-report .section4 .container-block {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }

    .container-report .section4 .container-block .title-block-risk {
      font-size: 20px;
      margin-right: 30px;
      display: inline-block;
      vertical-align: middle;
    }

    .container-report .section4 .container-block .container-icon {
      display: inline-block;
      vertical-align: middle;
    }

    .container-report .section4 .container-block .container-icon .risk-indicator-red {
      padding-top: 20px;
      font-size: 100px;
      color: #ff0000;
    }

    .container-report .section4 .container-block .container-icon .caption {
      font-size: 16px;
      text-align: center;
    }

    .container-report .section4 .container-block .container-icon .risk-indicator-yellow {
      padding-top: 20px;
      font-size: 100px;
      color: #ffff00;
    }

    .container-report .section4 .container-block .container-icon .risk-indicator-green {
      padding-top: 20px;
      font-size: 100px;
      color: #00ff00;
    }

    .container-report .section5 .general-title {
      margin-top: 20px;
    }

    .container-report .section5 .text-margin {
      margin-top: 10px;
    }

  </style>
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
</head>
<body>
  <div class="container-report">
    <div class="section1">
      <h1>Секция 1</h1>
      <h5>Персональный риск</h5>
      <div class="title-block-risk">Риск возникновения хронических заболеваний</div>
      <% let maxRisk = Math.max(section1.oncology.resultRisk, section1.diabetes.resultRisk, section1.cardiovascular.resultRisk, section1.psychosomatic.resultRisk) %>
      <% if(maxRisk === 3) { %>
        <div class="risk-indicator-red"></div>
      <% } %>
      <% if(maxRisk === 2) { %>
        <div class="risk-indicator-yellow"></div>
      <% } %>
      <% if(maxRisk === 1) { %>
        <div class="risk-indicator-green"></div>
      <% } %>
        <div class="title-block-risk">Онкология</div>
      <% if(section1.oncology.resultRisk === 3) { %>
        <div class="risk-indicator-red"></div>
      <% } %>
      <% if(section1.oncology.resultRisk === 2) { %>
        <div class="risk-indicator-yellow"></div>
      <% } %>
      <% if(section1.oncology.resultRisk === 1) { %>
        <div class="risk-indicator-green"></div>
      <% } %>
        <div class="title-block-risk">Диабет</div>
      <% if(section1.diabetes.resultRisk === 3) { %>
        <div class="risk-indicator-red"></div>
      <% } %>
      <% if(section1.diabetes.resultRisk === 2) { %>
        <div class="risk-indicator-yellow"></div>
      <% } %>
      <% if(section1.diabetes.resultRisk === 1) { %>
        <div class="risk-indicator-green"></div>
      <% } %>
        <div class="title-block-risk">Болезни сердечно-сосудистой системы</div>
      <% if(section1.cardiovascular.resultRisk === 3) { %>
        <div class="risk-indicator-red"></div>
      <% } %>
      <% if(section1.cardiovascular.resultRisk === 2) { %>
        <div class="risk-indicator-yellow"></div>
      <% } %>
      <% if(section1.cardiovascular.resultRisk === 1) { %>
        <div class="risk-indicator-green"></div>
      <% } %>
        <div class="title-block-risk">Психосоматические заболевания</div>
      <% if(section1.psychosomatic.resultRisk === 3) { %>
        <div class="risk-indicator-red"></div>
      <% } %>
      <% if(section1.psychosomatic.resultRisk === 2) { %>
        <div class="risk-indicator-yellow"></div>
      <% } %>
      <% if(section1.psychosomatic.resultRisk === 1) { %>
        <div class="risk-indicator-green"></div>
      <% } %>
    </div>
    <div class="section2">
      <h1>Секция 2</h1>
      <div class="title-table">Таблица анализа рисков возникновения хронических заболеваний</div>
      <table cellpadding="5px" cellspacing="0px">
        <tr class="blue-style">
          <th>Демографические факторы</th>
          <th>Текущее значение на основе ассесмента</th>
          <th>Нормальные значения</th>
        </tr>
        <tr>
          <td>Возраст</td>
          <td>
            <%= section2.age%>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Пол</td>
          <td>
            <%= section2.sex%>
          </td>
          <td></td>
        </tr>
        <tr class="blue-style">
          <td colspan="3">
            Факторы риска на  основе оценки медицинских показателей
          </td>
        </tr>
        <tr>
          <td>Рост</td>
          <td>
            <%= section2.height%>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Вес</td>
          <td>
            <%= section2.weight%>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>ИМТ*</td>
          <td>
            <%= section2.massIndex%>
          </td>
          <td>18.5-24.9</td>
        </tr>
        <tr>
          <td colspan="3">
            Если Вы профессионально занимаетесь спортом или имеете большой уровень мышечной массы, а также, если вы беременны, для правильной трактовки результатов обратитесь к специалисту
          </td>
        </tr>
        <tr>
          <td>Давление*</td>
          <td>
            <%= section2.pressure%>
          </td>
          <td>Менее 120/80 мм.рт.ст.</td>
        </tr>
        <tr>
          <td>Общий холестерин</td>
          <td>
            <%= section2.cholesterol%>
          </td>
          <td>Менее 5.6 ммоль/л</td>
        </tr>
        <tr>
          <td>ЛПНП</td>
          <td>
            <%= section2.lpnp%>
          </td>
          <td>Менее 3.5 ммоль/л</td>
        </tr>
        <tr>
          <td>ЛПВП</td>
          <td>
            <%= section2.lpvp%>
          </td>
          <td>Более 0.9 ммоль/л</td>
        </tr>
        <tr>
          <td>Глюкоза капиллярной крови</td>
          <td>
            <%= section2.glucoseCapillaryBlood%>
          </td>
          <td>Менее 5.5 ммоль/л</td>
        </tr>
        <tr>
          <td>Наличие наследственности по основным видам заболеваний</td>
          <td>
            <%= section2.presenceHeredityOfDiseases%>
          </td>
          <td>Отсутствие</td>
        </tr>
        <tr>
          <td>Прохождение медицинского осмотра</td>
          <td>
            <%= section2.medicalCheckupTherapist%>
          </td>
          <td>1 раз в год</td>
        </tr>
        <tr>
          <td>Осмотр стоматолога</td>
          <td>
            <%= section2.medicalCheckupDentist%>
          </td>
          <td>1 раз в год</td>
        </tr>
        <tr class="blue-style">
          <td colspan="3">
            Персональные поведенческие риски
          </td>
        </tr>
        <tr>
          <td>Физическая активность</td>
          <td>
            <%= section2.physicalActivity%>
          </td>
          <td>Высокая</td>
        </tr>
        <tr>
          <td>Курение</td>
          <td>
            <%= section2.smoking%>
          </td>
          <td>Отсутствие</td>
        </tr>
        <tr>
          <td>Пассивное курение</td>
          <td>
            <%= section2.secondHandSmoke%>
          </td>
          <td>Отсутствие</td>
        </tr>
        <tr>
          <td>Алкоголь</td>
          <td>
            <%= section2.alcohol%>
          </td>
          <td>Редко/ не очень часто</td>
        </tr>
        <tr>
          <td>Жирная пища</td>
          <td>
            <%= section2.fattyFood%>
          </td>
          <td>Низкое или нормальное потребление</td>
        </tr>
        <tr>
          <td>Фрукты/ овощи в диете</td>
          <td>
            <%= section2.fruitsVegetables%>
          </td>
          <td>5+ продуктов ежедневно</td>
        </tr>
        <tr>
          <td>Пищевые волокна в диете</td>
          <td>
            <%= section2.alimentaryFiber%>
          </td>
          <td>5+ продуктов ежедневно</td>
        </tr>
        <tr>
          <td>Стресс</td>
          <td>
            <%= section2.stress%>
          </td>
          <td>Низкий или средний уровень</td>
        </tr>
        <tr>
          <td>Депрессия</td>
          <td>
            <%= section2.depression%>
          </td>
          <td>Отсутствие</td>
        </tr>
        <tr>
          <td>Удовлетворенность личной жизнью</td>
          <td>
            <%= section2.satisfactionPrivacyLife%>
          </td>
          <td>Высокая</td>
        </tr>
        <tr>
          <td>Удовлетворенность профессиональной жизнью</td>
          <td>
            <%= section2.satisfactionProfessionalLife%>
          </td>
          <td>Высокая</td>
        </tr>
      </table>
    </div>
    <div class="section3">
      <h1>Секция 3</h1>
      <h3>Демографические показатели</h3>
      <% section3.demographicIndicators.forEach(item => {%>
        <div class="paragraph">
          <%= item%>
        </div>
      <% }) %>
      <h3>Наследственная заболеваемость</h3>
      <% section3.hereditaryIncidence.forEach(item => {%>
        <div class="paragraph">
          <%= item%>
        </div>
      <% }) %>
      <h3>Скрининг здоровья</h3>
      <% section3.healthScreening.forEach(item => {%>
        <div class="paragraph">
          <%= item%>
        </div>
      <% }) %>
      <h3>Медицинские осмотры</h3>
      <% section3.medicalCheckups.forEach(item => {%>
        <div class="paragraph">
          <%= item%>
        </div>
      <% }) %>
      <h3>Здоровье зубов</h3>
      <% section3.toothHealth.forEach(item => {%>
        <div class="paragraph">
          <%= item%>
        </div>
      <% }) %>
      <h3>Образ жизни</h3>
      <% section3.lifeStyle.forEach(item => {%>
        <div class="paragraph">
          <%= item%>
        </div>
      <% }) %>
    </div>
    <div class="section4">
      <h1>Секция 4</h1>
      <div class="container-block">
        <div class="title-block-risk">Онкология</div>
        <div class="container-icon">
          <% if(section1.oncology.resultRisk === 3) { %>
            <i class="fas fa-user risk-indicator-red"></i>
            <div class="caption">High</div>
          <% } %>
          <% if(section1.oncology.resultRisk === 2) { %>
            <i class="fas fa-user risk-indicator-yellow"></i>
            <div class="caption">Moderate</div>
          <% } %>
          <% if(section1.oncology.resultRisk === 1) { %>
            <i class="fas fa-user risk-indicator-green"></i>
            <div class="caption">Low</div>
          <% } %>
        </div>
      </div>
      <div class="container-block">
        <div class="title-block-risk">Диабет</div>
        <div class="container-icon">
          <% if(section1.diabetes.resultRisk === 3) { %>
            <i class="fas fa-user risk-indicator-red"></i>
            <div class="caption">High</div>
          <% } %>
          <% if(section1.diabetes.resultRisk === 2) { %>
            <i class="fas fa-user risk-indicator-yellow"></i>
            <div class="caption">Moderate</div>
          <% } %>
          <% if(section1.diabetes.resultRisk === 1) { %>
            <i class="fas fa-user risk-indicator-green"></i>
            <div class="caption">Low</div>
          <% } %>
        </div>
      </div>
      <div class="container-block">
        <div class="title-block-risk">Болезни сердечно-сосудистой системы</div>
        <div class="container-icon">
          <% if(section1.cardiovascular.resultRisk === 3) { %>
            <i class="fas fa-user risk-indicator-red"></i>
            <div class="caption">High</div>
          <% } %>
          <% if(section1.cardiovascular.resultRisk === 2) { %>
            <i class="fas fa-user risk-indicator-yellow"></i>
            <div class="caption">Moderate</div>
          <% } %>
          <% if(section1.cardiovascular.resultRisk === 1) { %>
            <i class="fas fa-user risk-indicator-green"></i>
            <div class="caption">Low</div>
          <% } %>
        </div>
      </div>
      <div class="container-block">
        <div class="title-block-risk">Психосоматические заболевания</div>
        <div class="container-icon">
          <% if(section1.psychosomatic.resultRisk === 3) { %>
            <i class="fas fa-user risk-indicator-red"></i>
            <div class="caption">High</div>
          <% } %>
          <% if(section1.psychosomatic.resultRisk === 2) { %>
            <i class="fas fa-user risk-indicator-yellow"></i>
            <div class="caption">Moderate</div>
          <% } %>
          <% if(section1.psychosomatic.resultRisk === 1) { %>
            <i class="fas fa-user risk-indicator-green"></i>
            <div class="caption">Low</div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="section5">
      <h1>Секция 5</h1>
      <h3 class="general-title">Как правильно использовать результаты оценки риска возникновения хронических заболеваний?</h3>
      <div class="text-margin">Поздравляю с прохождением RIA Assessment!</div>
      <div>Верите Вы или нет, этот анализ – есть правильный  шаг к улучшению Вашего здоровья и благополучия.</div>
      <div class="text-margin">Что дальше?</div>
      <div class="text-margin">1. Прочитайте отчет!</div>
      <div>Потратьте немного времени, чтобы ознакомиться с отчетом. В этом отчете Вы найдете информацию о значимых факторах риска и возможной профилактике нарушения здоровья. Для того чтобы информация, полученная в данном отчете, была более полезна, прочтите данный отчет спустя какое-то время.</div>
      <div class="text-margin">2. Спланируйте прохождение медицинского осмотра.</div>
      <div>Секрет здоровья и долголетия – предупредить заболевание до того как оно начнется. Профилактические обследования – ключ для успеха. Данные Assessment - отличный способ понять, какие анализы и обследования необходимы. Возьмите календарь, и отметьте даты прохождения профилактического осмотра.</div>
      <div class="text-margin">3. Возьмите копию отчета к Вашему врачу.</div>
      <div>Когда Вы пойдете к своему лечащему врачу, возьмите копию отчета. Специалист с медицинским образованием даст Вам отличные профилактические рекомендации.</div>
      <div class="text-margin">4. Составьте план. </div>
      <div>Ваше здоровье – один из самых важных ресурсов, которые необходимо накапливать. Инвестируя в свое здоровье, Вы преумножаете ресурсы Вашего организма и получаете большие шансы на успех в профессиональной и личной жизни. Создайте личный план повышения ресурсов организма, обязательно  включите туда правильное питание, практику по профилактике стресса и физическую активность.</div>
      <div class="text-margin">5. Держите отчет поблизости.</div>
      <div>Начните внедрять программы по улучшению здоровья. Когда пройдет год или два, Вы сможете посмотреть динамику изменений, которые происходят в Вашем организме.</div>
    </div>
  </div>
</body>
</html>
