.container-report {
  padding: 30px;
}

.container-report .section1 .risk-indicator-red {
  height: 30px;
  width: 500px;
  background: #ff0000;
  border: 1px solid #4d4d4d;
}

.container-report .section1 .risk-indicator-yellow {
  height: 30px;
  width: 500px;
  background: #ffff00;
  border: 1px solid #4d4d4d;
}

.container-report .section1 .risk-indicator-green {
  height: 30px;
  width: 500px;
  background: #00ff00;
  border: 1px solid #4d4d4d;
}

.container-report .section1 .title-block-risk {
  margin-top: 20px;
}

.container-report .section2 {
  padding-top: 50px;
}

.container-report .section2 .title-table {
  margin-bottom: 10px;
}

.container-report .section2 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.container-report .section2 table .blue-style {
  background: #00b0f0;
}

.container-report .section2 table td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px !important;
}

.container-report .section3 .paragraph {
  padding-top: 10px;
}

.container-report .section4 .container-block {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.container-report .section4 .container-block .title-block-risk {
  font-size: 20px;
  margin-right: 30px;
  display: inline-block;
  vertical-align: middle;
}

.container-report .section4 .container-block .container-icon {
  display: inline-block;
  vertical-align: middle;
}

.container-report .section4 .container-block .container-icon .risk-indicator-red {
  padding-top: 20px;
  font-size: 100px;
  color: #ff0000;
}

.container-report .section4 .container-block .container-icon .caption {
  font-size: 16px;
  text-align: center;
}

.container-report .section4 .container-block .container-icon .risk-indicator-yellow {
  padding-top: 20px;
  font-size: 100px;
  color: #ffff00;
}

.container-report .section4 .container-block .container-icon .risk-indicator-green {
  padding-top: 20px;
  font-size: 100px;
  color: #00ff00;
}

.container-report .section5 .general-title {
  margin-top: 20px;
}

.container-report .section5 .text-margin {
  margin-top: 10px;
}